main{
  display: flex;
  justify-content: space-around;
  padding: 2em;
  max-height: 100vh;
}
.column1-3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  height: 100%;
  padding-right: 1.5em;
  overflow: hidden;
}

.timeline {
  width: 33%;
}
.timeline-item{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
