.login-container {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/login-background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
